<form #createForm="ngForm" (ngSubmit)="onSubmit(createForm)">

    <div class="form-row">

        <div class="form-group col-md-6">
            <label for="title">Title</label>
            <input type="text"
                class="form-control"
                name="title" 
                ngModel
                #titleRef="ngModel"
             
                required
                minlength="5"
            >

            <div class="text text-danger" *ngIf="titleRef.dirty && titleRef.errors?.required">title field is required!</div>
            <div class="text text-danger" *ngIf="titleRef.dirty && titleRef.errors?.minlength">title must be at least 5 character!</div>

        </div>

        <div class="form-group col-md-6">
            <label for="instructor">Instructor</label>
            <input type="text" 
                class="form-control" 
                name="instructor" 
                ngModel 
                #instructorRef="ngModel" 
                required
            >

            <div class="text text-danger" *ngIf="instructorRef.dirty && instructorRef.errors?.required">title field is required!</div>

        </div>

        <div class="form-group col-md-12">

            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="isAvailable" ngModel>
                <label for="isAvailable">Available</label>
            </div>

        </div>


        <button class="btn btn-outline-success">Save Course</button>




    </div>

</form>